.front-page{
    h2{
        color: black;
    }

    p:hover{
        color: black;
        text-decoration: underline;
        background-color: lightyellow;
        border-radius: 15px;
        margin: auto;
    }
}