.item1{
    background-color: #ae9923;
     a{
        cursor: pointer;
        transition: background-color 2s ease, transform 3s;
     }
    h1{
        font-family: 'Times New Roman', Times, serif;
        font-size: 40px;
        text-decoration: underline;
        text-align: center;
        animation: move-title 5s linear infinite;
    }
}

.item1 a:hover{
background-color: #ae9923;
transform: scale(1.1);
border-radius: 15px;
}